
@{
    ViewBag.Title = "Tỉnh";
}
<div  ng-controller="controller_T_Master_Province as master">
<!-- START : MAIN  --------------------------------------------->
<div class="container-fluid none-display" ng-class="{'active-content' : true}">
    <div >
        <!-- TOP BUTTONS -------------------->
        <div class="row" >
            <div class="col-sm-6" >
                <h4>{{master.ObjectTitle}}</h4>
            </div>

            <div class="col-md-6 pull-right text-right" >

                <button class="btn btn-success  "  ng-disabled="!master.FormConfig._CanCreate" ng-click="master.AddItem()">
                    <i class="fa fa-plus white"></i> Thêm
                </button>
            </div>
        </div>


        <div class="row">
            <!------------------------------------------->
            <!---------------- MASTER SIDE -------------->
            <div class="col-md-8">
            <!-- FORM SEARCH-------------------->
            <div class="box box-primary box-body">
            <div class="row ">
                <div class="col-sm-12">
                <form name="dataForm" novalidate ng-submit="master.Search()">
                    <div class="row">
                        <div class="col-md-6">

<div class="row form-group">
    <label class="col-md-4  ">Name </label>
    <div class="col-md-8">
        <input class="form-control" ng-model="master.DataObject.Name" required
            placeholder="Nhập [Name]" />
    </div>
</div>
                        </div>

                        <div class="col-md-6">
                        </div>
                    </div>

                    <!-- buttons -->
                    <div class="row" >
                         <div class="col-md-6" >
                           
                            <!--- Clear --->
                            <button class="btn btn-primary" ng-click="master.ClearForm()" type="button">
                                <i class="fa fa-undo white"></i> Clear
                            </button>

                            <!--- Search --->
                            <button type="submit" id="btn-search" class="btn  btn-primary search"  >
                                <i class="fa fa-search" ng-hide="master.isSearching"></i>
                                <i class="fa fa-spinner white loading" ng-show="master.isSearching"></i>
                                Tìm kiếm
                            </button>
                        </div>
                    </div>
                </form>
        
                </div>
            </div>
            </div>
            <!-- TABLE -------------------->
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table  class="table table-responsive  table-bordered table-striped table-hover table-condensed editable-table no-margin" 
                        ng-form="master.TableForm._tableForm" 
                        ng-table="master.TableForm.tableParams"
                        demo-tracked-table="master.TableForm._tableTracker"
                        disable-filter="master.TableForm.isAdding" >
                        <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
                            <td title="'#'" class="col-center">
                                <span>{{ ((master.TableForm.tableParams.page() - 1)  *master.TableForm.tableParams.count()) + ($index +1) }}</span>
                            </td>

                            <!--------- data columns -------------->
<td title="'Name'"  sortable="'Name'">
    <span  class="editable-text" ng-bind="row.Name"></span>
</td>
                            <!---------command buttons -------------->  
                            <td width="100px" >
                                <!---edit--->
                                <button class="btn btn-default btn-sm" ng-click="master.EditObject(row)" 
                                    ng-if="!row.isEditing && master.FormConfig._CanUpdate"><span class="glyphicon glyphicon-pencil"></span></button>

                                <!----del--->
                                <button class="btn btn-danger btn-sm" ng-click="master.DeleteObject(row)" 
                                    ng-if="!row.isEditing && master.FormConfig._CanDelete"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                        <!--------------- table footer------------------>
                        <tfoot>
                            <tr>
                                <td colspan="3"><label>Số records : {{master.TableForm.tableParams.total()}} </label></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div style="clear:both"></div>
                </div>
            </div>
            </div>

        
            <!------------------------------------------->
            <!---------------- DETAIL SIDE -------------->
            <div class="col-md-4" ng-controller="controller_detail_T_Master_Province as detail">
            <!--- FORM DETAIL --->
            <div class="box box-primary box-body">
            <div class="row " >
                <div class="col-sm-12">
                    <!-- TOP BUTTONS -------------------------->
                    <div class="row" >
                        <div class="col-sm-6" ng-switch="detail.IsNew()" >
                            <h4 ng-switch-default > Thêm mới : </h4>
                            <h4 ng-switch-when="false"> Chỉnh sửa : </h4>
                        </div>

                        <div class="col-md-6 pull-right text-right">
                            <button class="btn btn-primary" ng-if="master.CurrentTab=='T_Master_Province' && (detail.IsNew() || detail.IsEditingDetail) && detail.DataObject._CanUpdate" ng-click="detail.SaveForm(false)">
                                <i class="fa fa-check white"></i>
                                <span>Lưu</span>
                            </button>

                            <button class="btn btn-warning" ng-if="master.CurrentTab=='T_Master_Province' && !detail.IsNew() && !detail.IsEditingDetail && detail.DataObject._CanUpdate" ng-click="detail.EditDetail()">
                                <i class="fa fa-edit white"></i>
                                <span>Sửa</span>
                            </button>
               
                        </div>

                    </div>
        
                    <!-- NAV TAB   ---------------------------->
                    <div class="row"><div class="col-sm-12">
                        <div class="tabbable" >
                            <ul class="nav nav-tabs padding-left-18">
                                <li class="active" ng-class="{active : (master.CurrentTab =='T_Master_Province')  }" ng-click="master.SetCurrentTab('T_Master_Province')">
                                    <a data-toggle="tab">
                                        <i class="blue fa-heart fa"></i>
                                        <span>Tỉnh</span>
                                    </a>
                                </li>

                                <!---------------------------------------------->
                                <!------------------CHILD NAV TAB--------------->
                                <!---------------------------------------------->
                    
                   
                            </ul>
                        </div>
                    </div></div>

                    <!-- START BODY-DETAIL -------------------->
                    <div class="row ">
                    <div class="col-sm-12">
                        <div class="tab-content no-border active">
                            <!-------------------------------------------------->
                            <!------------------ MAIN CONTENT TAB -------------->
                            <!-------------------------------------------------->
                            <div class="tab-pane active" ng-class="{active : (master.CurrentTab =='T_Master_Province')  }">
                            <div  ng-show="master.CurrentTab =='T_Master_Province'">
                                <div class="box box-primary box-body" >
                                <!----------- MASTER DETAIL ---------->
                                <div class="row " >
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12">

<div class="row form-group">
    <div  class="col-md-4  "><label>Name </label></div>
    <div class="col-md-8">

        
        
        

            <span ng-if="!detail.IsEditingDetail" ng-bind="detail.DataObject.Name || ''" class=""></span>
            <input ng-if="detail.IsEditingDetail" class="form-control" ng-model="detail.DataObject.Name" required
                placeholder="Nhập [Name]" />
    </div>
</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                </div>
                                <!----------- CHILDs ON MASTER ------->
                                <div class="row " ng-hide="detail.IsNew()">
                                    <div class="col-sm-12">
<!-- T_Master_Department CHILD ON MASTER -->
<div ng-controller="ChildController_T_Master_Department as child">
<!-- START CHILD CONTROLLER-->
<div >
    <div class="box box-primary box-body" >
        <!-- CHILD TOP BUTTONS -->
        <div class="row" >
            <div class="col-md-6">
                <h5>Phòng ban</h5>
            </div>
            <div class="col-md-6 pull-right text-right" >
                <button class="btn btn-success  "  ng-disabled="!child.FormConfig._CanCreate" 
                    type="button" ng-click="child.AddItem()">
                    <i class="fa fa-plus white"></i> Thêm
                </button>
            </div>
        </div>

        <!-- CHILD FORM SEARCH -->
        <div class="row " >
            <div class="col-sm-12">
            <form name="dataForm" novalidate ng-submit="child.Search()">
                <div class="row">
                    <div class="col-md-6">

<div class="row form-group">
    <label class="col-md-4  ">Name </label>
    <div class="col-md-8">

        
        
        
        <input class="form-control" ng-model="child.DataObject.Name" required
            placeholder="Nhập [Name]" />
    </div>
</div>

<div class="row form-group">
    <label class="col-md-4  ">DistrictId </label>
    <div class="col-md-8">

        
        
        
        <select class="form-control width-80" ng-model="child.DataObject.DistrictId" 
            my-dropdown
            dropdown-id="dd_DistrictId"
            dropdown-table="T_Master_District"
            dropdown-condition="IsActive=1"
            dropdown-column-value="Id"
            dropdown-column-name="Name"
            dropdown-empty-value=""
            dropdown-empty-text="-- Chọn --"
            check-empty="" check-empty-message="Vui lòng chọn [DistrictId].">
        </select>
        <button class="btn btn-primary btn-sm width-10" title="Quản lý [DistrictId]" type="button"
                data-toggle="modal" data-target="#ModalCol_T_Master_District">
            ...
        </button>
    </div>
</div>
                    </div>

                    <div class="col-md-6">
                    </div>
                </div>

                <!-- buttons -->
                <div class="row" >
                        <div class="col-md-12" >

                        <!-- Clear -->
                        <button class="btn btn-primary" ng-click="child.ClearForm()" type="button">
                            <i class="fa fa-undo white"></i> Clear
                        </button>

                        <!-- Search -->
                        <button type="submit" id="btn-search" class="btn  btn-primary search"  >
                            <i class="fa fa-search" ng-hide="child.isSearching"></i>
                            <i class="fa fa-spinner white loading" ng-show="child.isSearching"></i>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>   
            </div>
        </div>

        <!-- CHILD TABLE -->
        <div class="table-responsive">
        <table  class="table table-bordered table-striped table-hover table-condensed editable-table no-margin" 
            ng-form="child.TableForm._tableForm" 
            ng-table="child.TableForm.tableParams" >
            <tr ng-repeat="row in $data" >
                <td title="'#'" class="col-center">
                    <span>{{ ((child.TableForm.tableParams.page() - 1)  *child.TableForm.tableParams.count()) + ($index +1) }}</span>
                </td>


                <!--------- data columns -------------->
<td title="'Name'"  sortable="'Name'">
    <span  class="editable-text" ng-bind="row.Name"></span>
</td>
<td title="'DistrictId'"  sortable="'DistrictId.Name'">
    <span  class="editable-text" ng-bind="row.DistrictId_Name" ></span>
</td>

                <!---------command buttons -------------->  
                <td width="100px" >
                    <!---edit--->
                    <button class="btn btn-default btn-sm" ng-click="child.Edit(row)" 
                        ng-if="child.FormConfig._CanUpdate"><span class="glyphicon glyphicon-pencil"></span></button>
                           
                    <!----del--->
                    <button class="btn btn-danger btn-sm" ng-click="child.Delete(row)" 
                        ng-if="child.FormConfig._CanDelete"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            <!--------------- table footer------------------>
            <tfoot>
                <tr>
                    <td colspan="4"><label>Số records : {{child.TableForm.tableParams.total()}} </label></td>
                </tr>
            </tfoot>
        </table>
        </div>

        <div style="clear:both"></div>
    </div>
</div>

<!-- T_Master_Department MODAL -->
<div ng-controller="controller_modal_T_Master_Department as modal" >
<div id="Modal_T_Master_Department" class="modal fade " role="dialog" ng-init="modal.InitModal()">
    <div class="modal-dialog modal-md">
        <!-- MODAL CONTENT-->
        <div class="modal-content" ng-if="modal.IsShow">
            <div class="modal-header bg-light-blue white border-6">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title bold">Phòng ban</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding: 1px 15px; ">
                <!-- MODAL FORM -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-6">

<div class="row form-group">
    <div  class="col-md-4  "><label>Name </label></div>
    <div class="col-md-8">
            <span ng-if="!modal.IsEditingDetail" ng-bind="modal.DataObject.Name || ''" class=""></span>
            <input ng-if="modal.IsEditingDetail" class="form-control" ng-model="modal.DataObject.Name" required
                placeholder="Nhập [Name]" />
    </div>
</div>

<div class="row form-group">
    <div  class="col-md-4  "><label>DistrictId </label></div>
    <div class="col-md-8">
            <span ng-if="!modal.IsEditingDetail" ng-bind="modal.DataObject.DistrictId_Name || ''" class=""></span>
            <select ng-class="{'none-display' : !modal.IsEditingDetail}"  class="form-control width-80" ng-model="modal.DataObject.DistrictId" 
                my-dropdown
                dropdown-id="dd_DistrictId"
                dropdown-table="T_Master_District"
                dropdown-condition="IsActive=1"
                dropdown-column-value="Id"
                dropdown-column-name="Name"
                dropdown-empty-value=""
                dropdown-empty-text="-- Chọn --"
                check-empty="" check-empty-message="Vui lòng chọn [DistrictId].">
            </select>
            <button ng-if="modal.IsEditingDetail" class="btn btn-primary btn-sm width-10" title="Quản lý [DistrictId]" type="button"
                    data-toggle="modal" data-target="#Modal_DistrictId">
                ...
            </button>
    </div>
</div>
                        </div>

                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                
                </div>
            </div>

            <!-- MODAL BUTTONS -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa-undo fa"></i>
                    Đóng
                </button>
                <button type="button" class="btn btn-primary" ng-click="modal.Save()">
                    <i class="fa-save fa"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- END CHILD CONTROLLER-->
</div><!-- T_Master_District CHILD ON MASTER  -->
<div ng-controller="ChildController_T_Master_District as child">
<!-- START CHILD CONTROLLER-->
<div >
    <div class="box box-primary box-body" >
        <!-- CHILD TOP BUTTONS -->
        <div class="row" >
            <div class="col-md-6">
                <h5>Huyện</h5>
            </div>
            <div class="col-md-6 pull-right text-right" >
                <button class="btn btn-primary" ng-if="child.IsEditingDetail && child.FormConfig._CanUpdate" 
                    type="button" ng-click="child.SaveForm(false)">
                    <i class="fa fa-check white"></i>
                    <span>Lưu</span>
                </button>
                <button class="btn btn-warning" ng-if="!child.IsEditingDetail && child.FormConfig._CanUpdate" 
                    type="button" ng-click="child.EditForm()">
                    <i class="fa fa-edit white"></i><span>Sửa</span>
                </button>
            </div>
        </div>

        <!-- CHILD EDIT FORM -->
        <div class="row " >
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6  col-sm-12">

<div class="row form-group">
    <div  class="col-md-4  "><label>Name </label></div>
    <div class="col-md-8">

        
        
        

            <span ng-if="!child.IsEditingDetail" ng-bind="child.DataObject.Name || ''" class=""></span>
            <input ng-if="child.IsEditingDetail" class="form-control" ng-model="child.DataObject.Name" required
                placeholder="Nhập [Name]" />
    </div>
</div>
                    </div>

                    <div class="col-md-6  col-sm-12">
                    </div>
                </div>

                  
            </div>
        </div>

      
        <div style="clear:both"></div>
    </div>
</div>

<!-- END CHILD CONTROLLER-->
</div>                                    </div>
                                </div>
                            
                            </div>
                            </div>

                
                            <!-------------------------------------------------->
                            <!------------------CHILD CONTENT TAB--------------->
                            <!-------------------------------------------------->
                        </div>
                    </div>
                    </div>
                    <!-- END   BODY-DETAIL -------------------->

                    <!-- START : MODEL --------------------------------------------->
                    <!----- MODAL OF FOREIGN COLUMN------->
        
                    <!-- END   : MODEL --------------------------------------------->
                    <div ng-init="detail.InitForeignModals()"></div>
        
                </div>
            </div>
            </div>

            </div>

        </div>
    </div>
</div>
<!-- END   : MAIN  --------------------------------------------->

</div>




<!----- MASTER SCRIPT ------------->
<script type="text/javascript">
    CHUNOApp.controller('controller_T_Master_Province', ['$scope', 'NgTableParams', '$controller', '$q', '$timeout',
    function ($scope, NgTableParams, $controller, $q, $timeout) {
        $controller('CommonController', { $scope: $scope });
        $scope.masterController = this;

        var self = this;
        self.ObjectTitle = "Tỉnh";
    //========================================================
    //Controller Properties
    
    self.isLoadingImage = false;

    self.IsShowDetail = false;
    self.CurrentTab = 'T_Master_Province';

    $scope.DetailAPI = {};
    //======================================
    //form config
    var config = new DataFormConfig();
    {
        config.dataobject = 'T_Master_Province';
        config.columns = ['Id',
'Name'  ,
        ].join(';'); //ko dc
        config.sort = 'T_Master_Province.Id DESC';
        config.condition = '(T_Master_Province.IsActive = 1 )';
        config.action = 'get'; //getall/get
        config.startrow = 0;
        config.endrow = 10;
    }

    self.FormConfig = config;
    self.FormConfig._CanCreate = true;
    self.FormConfig._CanUpdate = true;
    self.FormConfig._CanDelete = true;

    //form object
    self.NewObject = function () {
        return {
            Id: 0,   
Name : '' ,
            Version: 0,
            IsActive: true
        };
    }
    self.DataObject = self.NewObject();

    self.FormObject = new DataObject('T_Master_Province', $scope);
    self.FormObject.SetObject(self.DataObject);
    //======================================
    self.ClearForm = function () {       
        self.DataObject = self.NewObject();
    }

    self.AddItem = function () {
        //create newobject
        var newobject = self.NewObject();

        //============================================
        self.SetCurrentTab('T_Master_Province');
        self.ShowDetailObject(newobject);
    };

    self.EditObject = function (object, rowForm) {
        //load object
        var loadobject = self.FormObject.GetObject(object.Id); //GetObject(value, colname)
             
        //copy object
        var copyobject = self.NewObject();
        //copyobject có thuộc tính nào thì object mới đưa vào
        CommonHelper.CopyFields(loadobject, copyobject);
        
        //morefields
        //============================================
        self.ShowDetailObject(copyobject);
    }

    self.ShowDetailObject = function(object){
        //============================================
        //check permission
        object._CanUpdate = self.FormConfig._CanUpdate;//item._CanUpdate;
        object._CanDelete = self.FormConfig._CanDelete;

        //====================================
        //set object to detail view
        $scope.DetailAPI.SetObject(object);

        //show detail
        self.IsShowDetail = true;

        //set default tab
        self.SetCurrentTab('T_Master_Province');
    }

    

    self.DeleteObject = function (object) {
        ShowConfirmModal("Bạn có muốn xóa [Tỉnh] " + object.Id + " - " + object.Name + "?",
            function () {
                if (self.FormObject.DeleteObject(object.Id)) {

                    self.ReloadTable(self.TableForm);
                    ShowSuccessMessage("Đã xóa thành công!");
                }
            });
    }

    //======================================
    self.CloseDetail = function () {
        if ($scope.DetailAPI.IsEditing() && !$scope.DetailAPI.IsNew()) {
            $scope.DetailAPI.SetEditing(false) ; //tử trạng thái đang chỉnh sửa -> only view
        }
        else {
            $scope.DetailAPI.SetEditing(false);
            self.IsShowDetail = false; //
        }
    }

    self.SetCurrentTab = function (tab) {
        if (tab != self.CurrentTab) {
            self.CurrentTab = tab;
        }
    }

    //======================================
    //tableform
    self.TableForm = new DynamicTableForm(NgTableParams, $q, self, function (params) {
        var config = {};
        $.extend(config, self.FormConfig);
        //===========================    
        var filter = params.filter();
        var sorting = params.sorting();
        var pagesize = params.count();
        var page = params.page();
        //===========================    
        //condition
        var conditionarr = [];
        for (var key in filter) {
            var column = 'T_Master_Province' +'.' + key;
            if (key.indexOf('.') >= 0)
                column = key;
            var cond = CommonHelper.CreateCondition(column, filter[key]);
            conditionarr.push(cond);
        }
        if (conditionarr.length > 0) config.condition += (config.condition == '' ? '' : ' AND ') + conditionarr.join(" AND ");

        //sort
        var sortnarr = [];
        for (var key in sorting) {
            var column = 'T_Master_Province' +'.' + key;
            if (key.indexOf('.') >= 0)
                column = key;
            sortnarr.push(column + " " + sorting[key] + "");
        }

        if (config.sort != '') sortnarr.push(config.sort);
        config.sort = sortnarr.join(",");
        //===========================
        return config;
    });

    self.ReloadMainTable = function(){
        self.ReloadTable(self.TableForm);
    }

    self.ReloadTable = function (tableForm) {
        tableForm.reload();
    }
    //======================================
    self.Search = function () {
        if (self.DataObject == undefined) return;
        //===================================
        var object = self.DataObject;
        var filterobj = {};


if (!CommonHelper.IsNullOrEmpty(object.Name)) {
    filterobj = { Name: object.Name };
}
        self.TableForm.search(filterobj);
    };

    self.showloading = function () { self.isSearching = true; }
    self.hideloading = function () { self.isSearching = false; }

    //=======================================
    //init - data
    $timeout(function(){
        var startup_object = @Model.objectid;
        if(startup_object > 0){
            var loadobject = self.FormObject.GetObject(startup_object); //GetObject(value, colname)

            //check object exist
            if(loadobject.Id){
                //morefields
                //TODO

                self.ShowDetailObject(loadobject);
            }
        }else{
            //init new object
            var newobject = self.NewObject();
            self.ShowDetailObject(newobject);
        }
    },100);
}
]);

</script>

<!----- DETAIL SCRIPT ------------->
<script type="text/javascript">
    CHUNOApp.controller('controller_detail_T_Master_Province', ['$scope', 'NgTableParams', '$controller', '$q', '$timeout',
     function ($scope, NgTableParams, $controller, $q, $timeout) {
         $controller('CommonController', { $scope: $scope });


         var self = this;
         //========================================================
         //Controller Properties
         self.IsEditingDetail = false;

         self.FormObject = new DataObject("T_Master_Province", $scope);

         //========================================================
         //Controller Methods
         self.IsNew =function(){
             if(!self.DataObject) return true;

             return self.DataObject.Id <=0;
         }

         self.EditDetail = function () {
             self.IsEditingDetail = true;
         }

         self.SaveForm = function () {
             self.isSaving = true;
             setTimeout(function () {
                 //change something wrong
                 //=====================
                 //save img
            
                 //---------------------
                 var isAdd = self.DataObject.Id <= 0 ? true : false;
                 self.SaveObject(self.DataObject);

                 //-----------------------
                 //reload master table
                 var master = $scope.masterController;
                 if(master.ReloadMainTable)
                     master.ReloadMainTable();

                 self.isSaving = false;
                 $scope.$apply();
             }, 100);
         }

         self.SaveObject = function (object) {
             self.FormObject.SetObject(object);
             var Id = self.FormObject.SaveObject();
             if (Id > 0) {
                 self.DataObject.Id = Id;
                 $("button[data-dismiss='modal']:visible").click();
                 ShowSuccessMessage("Đã tạo thành công!");
             }
             return Id;
         }

         self.ReloadTable = function (tableForm) {
             tableForm.reload();
         }

         
         //==========================================================
         //=================Child Table Detail=======================
         //==========================================================
         $scope.ChildControllers = {};
         
         //==========================================================
         //==================END Child Table Detail =================
         //==========================================================

         self.InitForeignModals = function () {
             if (typeof init_modals !== 'undefined') init_modals();
         }

         //========================================================
         //DetailAPI
         $scope.DetailAPI.SetObject = function (object) {
             self.DataObject = object;

             if (!(self.DataObject.Id > 0))
                 self.IsEditingDetail = true; //when add item , isEditing = true n start
             else self.IsEditingDetail = false;
             //================================//
             //===========init - data==========//
             $timeout(function(){
                 //======================
                 //init - child controller
                 
                 $scope.ChildControllers["T_Master_Department"].InitForm(self.DataObject);
                 
                 
                 $scope.ChildControllers["T_Master_District"].InitForm(self.DataObject);
                 

                 //======================
                 //init - handlers
             
             },100);
         };
         $scope.DetailAPI.IsEditing = function () {
             return self.IsEditingDetail;
         };
         $scope.DetailAPI.IsNew = function () {
             return !(self.DataObject.Id > 0);
         };
         $scope.DetailAPI.SetEditing = function (isediting) {
             self.IsEditingDetail = isediting;
         };
         //========================================================
     }
    ]);


</script>

<!-- ========================================================== -->
<!-- =======================CHILD CONTROLLER=================== -->
<!-- *****T_Master_Department Form ***** -->
<script type="text/javascript">
//as child
CHUNOApp.controller('ChildController_T_Master_Department', ['$scope', 'NgTableParams', '$controller', '$q', '$timeout',
function ($scope, NgTableParams, $controller, $q, $timeout) {
    $controller('CommonController', { $scope: $scope });
    var self = this;
    self.isSearching=false;

    $scope.ChildControllers["T_Master_Department"] = self;
    //===================================
    //Properties
    self.ParentObjectId = 0;

    //---FormObject---
    self.FormObject = new DataObject("T_Master_Department", $scope);
    self.NewObject = function () {
        var newobj = {
            Id: 0,
Name : '' ,
ProvinceId : '' , ProvinceId_Name : '' ,
DistrictId : '' , DistrictId_Name : '' ,
            Version: 0,
            IsActive: true
        };

        newobj.ProvinceId = self.ParentObjectId;
        return newobj;
    }
    self.DataObject = self.NewObject();



    //---ModalAPI---
    $scope.ModalAPI = {};

    //--------------------------------
    self.ClearForm = function(){
        self.DataObject = self.NewObject();
    }

    self.AddItem = function(){
        var newobj = self.NewObject();

        self.EditObject(newobj);
    }

    self.Edit = function (object) {
        //TODO LoadObject again

        //copyobject
        var copyobject = self.NewObject();
        CommonHelper.CopyFields(object, copyobject);

        //morefields
        //TODO

        //============================================
        //check permission
        copyobject._CanUpdate = self.FormConfig._CanUpdate;//item._CanUpdate;
        copyobject._CanDelete = self.FormConfig._CanDelete;

        //====================================
        self.EditObject(copyobject);
    }

    self.EditObject = function (object){

        $timeout(function () {
            $scope.ModalAPI.SetObject(object);
            $("#Modal_T_Master_Department").modal('show');

        }, 100);
    }

    self.Save = function (object) {
        self.FormObject.SetObject(object);
        var Id = self.FormObject.SaveObject();
        if (Id > 0) {
            object.Id = Id;
        }
    }
    self.Delete = function (object) {
        ShowConfirmModal("Bạn có muốn xóa [Phòng ban] " + object.Id + " - " + 'TODO - object.Name' + "?",
        function () {
            if (self.FormObject.DeleteObject(object.Id)) {

                self.ReloadTable();
                ShowSuccessMessage("Đã xóa thành công!");

            }
        });
    }

    self.ReloadTable = function () {
        self.TableForm.reload();
    }

    self.Search = function(){
        if (self.DataObject == undefined) return;
        //===================================
        var object = self.DataObject;

        var filterobj = {};
        //parent column id
        {
            $.extend(filterobj, { ProvinceId: self.ParentObjectId });
        }


if (!CommonHelper.IsNullOrEmpty(object.Name)) {
    filterobj = { Name: object.Name };
}

if (CommonHelper.IsSearchableValue(object.ProvinceId)) {
    $.extend(filterobj, { ProvinceId: object.ProvinceId });
}


if (CommonHelper.IsSearchableValue(object.DistrictId)) {
    $.extend(filterobj, { DistrictId: object.DistrictId });
}


        self.TableForm.search(filterobj);   
    }

    //---InitForm---
    self.InitForm = function (parentobj) {
        self.ParentObjectId = parentobj.Id;
        self.DataObject = self.NewObject();
        //========================
        var config = new DataFormConfig();
        {
            config.dataobject = 'T_Master_Department';
            config.columns = ['Id', 
'Name'  ,
'ProvinceId' ,
'ProvinceId.Name , ProvinceId_Name' ,
'DistrictId' ,
'DistrictId.Name , DistrictId_Name' ,
                ].join(';'); 
            config.sort = 'T_Master_Department.Id DESC';
            config.condition = 'T_Master_Department.ProvinceId = ' + self.ParentObjectId  + ' AND (T_Master_Department.IsActive=1 )';
            config.action = 'get'; //getall/get
            config.startrow = 0;
            config.endrow = 10;
        }

        self.FormConfig = config;
        self.FormConfig._CanCreate = true;
        self.FormConfig._CanUpdate = true;
        self.FormConfig._CanDelete = true;

        self.TableForm = new DynamicTableForm(NgTableParams, $q, self, function (params) {
            var config = {};
            $.extend(config, self.FormConfig);
            //===========================   
            var filter = params.filter();
            var sorting = params.sorting();
            var pagesize = params.count();
            var page = params.page();
            //===========================       
            //condition
            var conditionarr = [];
            for (var key in filter) {
                var column = 'T_Master_Department.' + key;
                if (key.indexOf('.') >= 0)
                    column = key;
                var cond = CommonHelper.CreateCondition(column, filter[key]);
                conditionarr.push(cond);
            }

            if (conditionarr.length > 0) config.condition += (config.condition == '' ? '' : ' AND ') + conditionarr.join(" AND ");

            //sort
            var sortnarr = [];
            for (var key in sorting) {
                var column = 'T_Master_Department.' + key;
                if (key.indexOf('.') >= 0)
                    column = key;
                sortnarr.push(column + " " + sorting[key] + "");
            }
            if (config.sort != '') sortnarr.push(config.sort);
            config.sort = sortnarr.join(",");
            //===========================
            return config;
        });

    }

    
}]);

</script>

<!----- MODAL SCRIPT -------------->
<script type="text/javascript">
CHUNOApp.controller('controller_modal_T_Master_Department', ['$scope', 'NgTableParams', '$controller', '$q', '$timeout',
function ($scope, NgTableParams, $controller, $q, $timeout) {
    $controller('CommonController', { $scope: $scope });
    var self = this;
    self.IsEditingDetail = true;

    self.ParentObjectId = 0;
    self.IsShow = false;
    self.SetShownModal = function (isShow) {
        self.IsShow = isShow;
        if (!isShow) self.DataObject =  $scope.child.NewObject();
        //if (isShow)
        //    self.ParentObjectId = $scope.child.ParentObjectId;
    }

    self.DataObject = {};
    self.NewObject =function(){
        return $scope.child.NewObject();
    }

    self.Save = function () {
        setTimeout(function () {
            $scope.child.Save(self.DataObject);
            if (self.DataObject.Id > 0) {

                $("button[data-dismiss='modal']:visible").click();
                $('#Modal_AccountRole').modal('hide');


                ShowSuccessMessage("Đã lưu thành công!");
                self.DataObject = self.NewObject();

                $scope.child.ReloadTable();
            }
        }, 100);
    }

    //===========================
    $scope.ModalAPI.SetObject = function (object) {
        self.DataObject = object;
    }

    //==========================
    //init modal
    self.InitModal = function () {
        $('#Modal_T_Master_Department').on('show.bs.modal', function (e) {
            var modalId = $(this).attr("id");
            var scope = angular.element(document.getElementById(modalId)).scope();
            scope.$apply(function () {
                scope.modal.SetShownModal(true);
            });
        }).on('hide.bs.modal', function (e) {
            var modalId = $(this).attr("id");
            var scope = angular.element(document.getElementById(modalId)).scope();
            scope.$apply(function () {
                scope.modal.SetShownModal(false);
            });
        });
    }
}]);

</script><!-- *****T_Master_District Form ***** -->
<script type="text/javascript">
//as child
CHUNOApp.controller('ChildController_T_Master_District', ['$scope', 'NgTableParams', '$controller', '$q', '$timeout',
function ($scope, NgTableParams, $controller, $q, $timeout) {
    $controller('CommonController', { $scope: $scope });
    var self = this;
    self.IsEditingDetail = false;


    $scope.ChildControllers["T_Master_District"] = self;
    //===================================
    //Properties
    self.ParentObjectId = 0;

    //---FormObject---
    self.FormObject = new DataObject("T_Master_District", $scope);
    self.NewObject = function () {
        var newobj = {
            Id: 0,
Name : '' ,
ProvinceId : '' , ProvinceId_Name : '' ,
            Version: 0,
            IsActive: true
        };

        newobj.ProvinceId = self.ParentObjectId;
        return newobj;
    }
    self.DataObject = self.NewObject();


    //---ModalAPI---
    $scope.ModalAPI = {};

    //--------------------------------
    self.ClearForm = function(){
        self.DataObject = self.NewObject();
    }

    self.AddItem = function(){
        var newobj = self.NewObject();

        self.EditObject(newobj);
    }

    self.EditForm = function () {
        self.IsEditingDetail = true;
    }

    self.SaveForm = function() {
        self.Save(self.DataObject);

        if (self.DataObject.Id > 0) {
            ShowSuccessMessage("Đã lưu thành công!");
        }
    }
    
    self.Save = function (object) {
        self.FormObject.SetObject(object);
        var Id = self.FormObject.SaveObject();
        if (Id > 0) {
            object.Id = Id;
        }
    }

    self.Delete = function (object) {
        ShowConfirmModal("Bạn có muốn xóa [Huyện] " + object.Id + " - " + 'TODO - object.Name' + "?",
        function () {
            if (self.FormObject.DeleteObject(object.Id)) {

                ShowSuccessMessage("Đã xóa thành công!");

            }
        });
    }

   
    //---InitForm---
    self.InitForm = function (parentobj) {
        self.ParentObjectId = parentobj.Id;
        
        self.IsEditingDetail = false;

        //=================================
        //Dung de load nhieu data
        var config = new DataFormConfig();
        {
            config.dataobject = 'T_Master_District';
            config.columns = ['Id', 
'Name'  ,
'ProvinceId' ,
'ProvinceId.Name , ProvinceId_Name' ,
                ].join(';'); 
            config.sort = 'T_Master_District.Id DESC';
            config.condition = 'T_Master_District.ProvinceId = ' + self.ParentObjectId  + ' AND (T_Master_District.IsActive=1 )';
            config.action = 'get'; //getall/get
            config.startrow = 0;
            config.endrow = 1; //lấy chỉ 1 record
        }

        self.FormConfig = config;
        self.FormConfig._CanCreate = true;
        self.FormConfig._CanUpdate = true;
        self.FormConfig._CanDelete = true;

        //==================
        //load child object if it exists -todo
        self.DataObject = self.NewObject();

        var dataService = new DataService(self.FormConfig);
        var listobject = dataService.GetListData();
        if(listobject && listobject.length>0){
            self.DataObject = listobject[0];
        }

        if(!self.DataObject.Id){
            
        }
        return;

        //==================
        //khong dung cach nay
        self.DataObject  = self.FormObject.GetObject(self.ParentObjectId ,'ProvinceId');
        if(!self.DataObject.Id){
            self.DataObject = self.NewObject();
        }else{
            //morefields
            //todo
            self.DataObject.ProvinceId_Name = '';
        }
        //=========================
        
    }

    
}]);

</script>

<!-- ================== END CHILD CONTROLLER=================== -->
<!-- ========================================================== -->