
@{
    ViewBag.Title = "Huyện";
    Layout = "~/Views/CMS/Shared/_Layout.cshtml";
}
<div  ng-controller="controller_T_Master_District as master">
<!-- START : MAIN  --------------------------------------------->
<div class="container-fluid none-display" ng-class="{'active-content' : true}">
    <div >
        <!-- TOP BUTTONS -------------------->
        <div class="row" style="padding-top: 5px">
            <div class="col-sm-6" >
                <h4>{{master.ObjectTitle}}</h4>
            </div>
            <div class="col-sm-6 pull-right text-right" >
                

                <button class="btn btn-default" ng-click="master.CancelAll()" ng-if="master.isEditing">
                    <i class="fa fa-remove"></i>
                </button>

                <button class="btn btn-primary" ng-click="master.SaveAll()" ng-if="master.isEditing" ng-disabled="!master.TableForm.hasChanges()">
                    <i class="fa fa-check white"></i>
                </button>

                <button class="btn btn-warning" ng-click="master.EditAll()" ng-if="!master.isEditing" ng-disabled="!master.FormConfig._CanUpdate">
                    <i class="fa fa-edit white"></i>
                    <span>Sửa</span>
                </button>
                
                <button class="btn btn-success "  ng-disabled="!master.FormConfig._CanCreate" ng-click="master.AddItem()">
                    <i class="fa fa-plus white"></i> Thêm
                </button>
                
            </div>

        </div>

        <!-- FORM -------------------->
        <div class="box box-primary box-body">
        <div class="row " style="padding-bottom: 10px; padding-top: 5px">
            <div class="col-sm-12">
            <form name="dataForm" novalidate ng-submit="master.Search()">
                <div class="row">
                    <div class="col-md-6">

<div class="row form-group">
    <label class="col-md-4  ">Name </label>
    <div class="col-md-8">
        <input class="form-control" ng-model="master.DataObject.Name" required
            placeholder="Nhập [Name]" />
    </div>
</div>

<div class="row form-group">
    <label class="col-md-4  ">ProvinceId </label>
    <div class="col-md-8">
        <select class="form-control " ng-model="master.DataObject.ProvinceId" 
            my-dropdown
            dropdown-id="dd_ProvinceId"
            dropdown-table="T_Master_Province"
            dropdown-condition="IsActive=1"
            dropdown-column-value="Id"
            dropdown-column-name="Name"
            dropdown-empty-value=""
            dropdown-empty-text="-- Chọn --"
            check-empty="" check-empty-message="Vui lòng chọn [ProvinceId].">
        </select>
    </div>
</div>
                    </div>

                    <div class="col-md-6">
                    </div>
                </div>

                <!-- buttons -->
                <div class="row" style="margin-top:10px">
                     <div class="col-md-6" >
                        
                        <!--- Clear --->
                        <button class="btn btn-primary" ng-click="master.ClearForm()" type="button">
                            <i class="fa fa-undo white"></i> Clear
                        </button>

                        <!--- Search --->
                        <button type="submit" id="btn-search" class="btn  btn-primary search"  >
                            <i class="fa fa-search" ng-hide="master.isSearching"></i>
                            <i class="fa fa-spinner white loading" ng-show="master.isSearching"></i>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>
        
            </div>
        </div>
        </div>
        
        <!-- TABLE -------------------->
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table  class="table table-responsive  table-bordered table-striped table-hover table-condensed editable-table no-margin" 
                    ng-form="master.TableForm._tableForm" 
                    ng-table="master.TableForm.tableParams"
                    demo-tracked-table="master.TableForm._tableTracker"
                    disable-filter="master.TableForm.isAdding" >
                    <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
                        <td title="'#'" class="col-center">
                            <span>{{ ((master.TableForm.tableParams.page() - 1)  *master.TableForm.tableParams.count()) + ($index +1) }}</span>
                        </td>

                        <!--------- data columns -------------->

<td  title="'Name'"  sortable="'Name'" ng-form="Name"  demo-tracked-table-cell>
    <span  ng-if="!(row.isEditing || master.TableForm.isEditing)" class="editable-text" ng-bind="row.Name" ></span>
    <div ng-if="(row.isEditing || master.TableForm.isEditing)" class="controls" ng-class="Name.$invalid && Name.$dirty ? 'has-error' : ''">
        <input type="text" name="Name" ng-model="row.Name" class="editable-input form-control input-sm" required />
    </div>
</td>

<td  title="'ProvinceId'"  sortable="'ProvinceId.Name'" ng-form="ProvinceId" demo-tracked-table-cell>
    <span ng-if="!(row.isEditing || master.TableForm.isEditing)" class="editable-text" ng-bind="row.ProvinceId_Name" ></span>
    <div ng-if="(row.isEditing || master.TableForm.isEditing)" class="controls" ng-class="ProvinceId.$invalid && ProvinceId.$dirty ? 'has-error' : ''" >
        <select class="form-control"  ng-model="row.ProvinceId"  name="ProvinceId" 
            my-dropdown
            dropdown-id="ProvinceId" 
            dropdown-table="T_Master_Province" 
            dropdown-condition="IsActive=1"
            dropdown-column-value="Id"
            dropdown-column-name="Name" 
            dropdown-empty-value=""
            dropdown-empty-text="--Chọn --" 
        check-empty="" check-empty-message="Vui lòng chọn." 
        ng-change="master.TableForm.SetValue('ProvinceId' ,row)">

        </select>
    </div>
</td>
                        <!---------command buttons -------------->  
                        <td width="100px" >
                            <!---edit--->
                            <button class="btn btn-default btn-sm" ng-click="master.TableForm.edit(row)" 
                                ng-if="!(row.isEditing || master.TableForm.isEditing) && master.FormConfig._CanUpdate"><span class="glyphicon glyphicon-pencil"></span></button>

                            <!---save--->
                            <button class="btn btn-primary btn-sm" ng-click="master.TableForm.save(row, rowForm)" 
                                ng-if="(row.isEditing || master.TableForm.isEditing) && master.FormConfig._CanUpdate" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>             
                            
                            <!---cancel--->
                            <button class="btn btn-default btn-sm" ng-click="master.TableForm.cancel(row, rowForm)"
                                ng-if="(row.isEditing || master.TableForm.isEditing)"><span class="glyphicon glyphicon-remove"></span></button>
                            

                            <!----del--->
                            <button class="btn btn-danger btn-sm" ng-click="master.TableForm.del(row)" 
                                ng-if="!(row.isEditing || master.TableForm.isEditing) && master.FormConfig._CanDelete"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                    <!--------------- table footer------------------>
                    <tfoot>
                        <tr>
                            <td colspan="4"><label>Số records : {{master.TableForm.tableParams.total()}} </label></td>
                        </tr>
                    </tfoot>
                </table>
                <div style="clear:both"></div>
            </div>
        </div>

    </div>
</div>
<!-- END   : MAIN  --------------------------------------------->

<!-- START : MODAL --------------------------------------------->
<div>
</div>
<!-- END   : MODAL --------------------------------------------->

</div>


<!-- MAIN SCRIPT  --------------------------------------------->
<script type="text/javascript">
CHUNOApp.controller('controller_T_Master_District', ['$scope', 'NgTableParams', '$controller', '$q', '$timeout',
function ($scope, NgTableParams, $controller, $q, $timeout) {
    $controller('CommonController', { $scope: $scope });
    $scope.masterController = this;

    var self = this;
    self.ObjectTitle = "Huyện";
    //========================================================
    //Controller Properties
    self.isEditing = false;
    self.isSaving = false;
    self.isLoadingImage = false;
    //======================================
    //form config
    var config = new DataFormConfig();
    {
        config.dataobject = 'T_Master_District';
        config.columns = ['Id',
'Name'  ,
'ProvinceId' ,
'ProvinceId.Name , ProvinceId_Name' ,
            ].join(';'); //ko dc
        config.sort = 'T_Master_District.Id DESC';
        config.condition = '(T_Master_District.IsActive = 1 )';
        config.action = 'getall'; //getall/get
        config.startrow = 0;
        config.endrow = 10;
    }

    self.FormConfig = config;
    self.FormConfig._CanCreate = true;
    self.FormConfig._CanUpdate = true;
    self.FormConfig._CanDelete = true;

    //form object
    self.NewObject = function () {
        return {
            Id: 0,   
Name : '' ,
ProvinceId : '' , ProvinceId_Name : '' ,
            Version: 0,
            IsActive: true
        };
    }
    self.DataObject = self.NewObject();

    self.FormObject = new DataObject('T_Master_District', $scope);
    self.FormObject.SetObject(self.DataObject);
    //======================================
    self.ClearForm = function () {       

        self.DataObject = self.NewObject();

    }

    self.AddItem = function () {
        self.TableForm.add();
    };

    self.EditAll= function(){
        self.isEditing = self.TableForm.isEditing = true;
    }

    self.SaveAll = function(){
        var ok = self.TableForm.saveChanges();
        if(ok){
            self.isEditing = self.TableForm.isEditing = false;
            //load lai data
            self.ReloadTable(self.TableForm);
        }
    }

    self.CancelAll= function(){
        self.isEditing = self.TableForm.isEditing = false;
        self.TableForm.cancelChanges();
    }

    self.Edit = function (object, rowForm) {
        //self.isEditing = true;
        object.isEditing = true;
    }

    self.SaveForm = function () {
        self.isSaving = true;
        setTimeout(function () {
            //change something wrong
            
            if (self.DataObject.ProvinceId == '' || self.DataObject.ProvinceId == 0)
                self.DataObject.ProvinceId = '';
            
            //=====================
            //save img
            
            //---------------------
            var isAdd = self.DataObject.Id <= 0 ? true : false;
            self.SaveObject(self.DataObject);
            if (isAdd) {
                self.ClearForm();
            }
            self.ReloadTable(self.TableForm);

            self.isSaving = false;
            $scope.$apply();
        }, 100);
    }

    self.SaveObject = function (object ,rowForm) {
        self.FormObject.SetObject(object);
        var Id = self.FormObject.SaveObject();
        if (Id > 0) {
            self.DataObject.Id = Id;

            ShowSuccessMessage("Đã lưu thành công!");
        }
        return Id;
    }

    self.SaveListObject = function (objs){
        self.FormObject.SetListObject(objs);

        var ok = self.FormObject.SaveListObject();
        if(ok){
            ShowSuccessMessage("Đã lưu thành công!");
        }

        return ok;
    }

    self.DeleteObject = function (object) {
        ShowConfirmModal("Bạn có muốn xóa [Huyện] " + object.Id + " - " + object.Name + "?",
            function () {
                if (self.FormObject.DeleteObject(object.Id)) {

                    self.ReloadTable(self.TableForm);
                    ShowSuccessMessage("Đã xóa thành công!");
                }
            });
    }

    //======================================
    //tableform
    self.TableForm = new StaticTableForm(NgTableParams, $q, self,$scope, function (params) {
        var config = {};
        $.extend(config, self.FormConfig);
        //===========================    
        var filter = params.filter();
        var sorting = params.sorting();
        var pagesize = params.count();
        var page = params.page();
        //===========================    
        //condition
        var conditionarr = [];
        for (var key in filter) {
            var column = 'T_Master_District' +'.' + key;
            if (key.indexOf('.') >= 0)
                column = key;
            var cond = CommonHelper.CreateCondition(column, filter[key]);
            conditionarr.push(cond);
        }
        if (conditionarr.length > 0) config.condition += (config.condition == '' ? '' : ' AND ') + conditionarr.join(" AND ");

        //sort
        var sortnarr = [];
        for (var key in sorting) {
            var column = 'T_Master_District' +'.' + key;
            if (key.indexOf('.') >= 0)
                column = key;
            sortnarr.push(column + " " + sorting[key] + "");
        }

        if (config.sort != '') sortnarr.push(config.sort);
        config.sort = sortnarr.join(",");
        //===========================
        return config;
    });

    self.ReloadTable = function (tableForm) {
        if(tableForm==undefined)
            tableForm =  self.TableForm;

        tableForm.loadData();
    }
    //======================================
    self.Search = function () {
        if (self.DataObject == undefined) return;
        //===================================
        var object = self.DataObject;
        var filterobj = {};


if (!CommonHelper.IsNullOrEmpty(object.Name)) {
    filterobj = { Name: object.Name };
}

if (CommonHelper.IsSearchableValue(object.ProvinceId)) {
    $.extend(filterobj, { ProvinceId: object.ProvinceId });
}

        self.TableForm.search(filterobj);
    };

    self.showloading = function () { self.isSearching = true; }
    self.hideloading = function () { self.isSearching = false; }


    //=======================================
    //init - data

    
}
]);

</script>

<!-- MODEL SCRIPT  --------------------------------------------->

