<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" ng-controller="SideBarController" style="background-color:#ecf0f5">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" >
    <!----------------------------------------------------->
    <div id="firstElement" style="">
        <div class="box tiny-box box-primary"><span style="margin-left:10px">Thông tin giao thông</span></div>
        <!-- tabs  -->
        <div class="tabbable ">
             <ul class="nav nav-tabs" style="">
                <li class="active"><a href="#traffic" data-toggle="tab" >Hiện trạng giao thông</a></li>
                <li><a href="#incident" data-toggle="tab">Sự cố</a></li>
            </ul>

            <div class="tab-content" style="background-color:#ecf0f5">
                <div class="tab-pane active" id="traffic" >
                    <table class="table small-table table-striped header-fixed clip-text" style="width:100%">
                        <thead>
                        <tr>
                            <th class="item-index">#</th>
                            <th class="item-code">ID</th>
                            <th class="item-linkname">Đoạn đường</th>
                            <th class="item-speed">Vận tốc</th>
                        </tr>
                        </thead>
                        <tbody style="height:200px;">
                        <tr>
                            <td  class="item-index">1</td>
                            <td  class="item-code">L0001</td>
                            <td  class="item-linkname" > <span data-toggle="tooltip" title="here is tooltip">NO01-NO02</span></td>
                            <td  class="item-speed"><span class="bg-green">65</span></td>
                        </tr>
                        <tr>
                            <td  class="item-index">2</td>
                            <td  class="item-code">L0001</td>
                            <td  class="item-linkname" > <span data-toggle="tooltip" title="here is tooltip">NO01 - NO02</span></td>
                            <td  class="item-speed"><span class="bg-red">65</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="incident" style="">
                     <table class="table small-table table-striped header-fixed clip-text" style="width:100%">
                        <thead>
                        <tr>
                            <th style="width:40px">ID</th>
                            <th style="width:130px">Thời điểm</th>
                            <th style="width:60px">Loại</th>
                        </tr>
                        </thead>
                        <tbody style="height:200px;">
                        <tr>
                            <td class="filterable-cell" style="width:40px">I0001</td>
                            <td class="filterable-cell" style="width:130px">12/12/2016 10:10:10</td>
                            <td class="filterable-cell " style="width:60px">Kẹt xe</td>
                        </tr>
                        <tr>
                            <td class="filterable-cell" style="width:40px">I0002</td>
                            <td class="filterable-cell" style="width:130px">12/12/2016 10:10:10</td>
                            <td class="filterable-cell " style="width:60px">Tai nạn</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

      </div>
        <!-- /tabs -->
    </div>
    <!----------------------------------------------------->
    <div id="secondElement">
        <div class="box tiny-box box-primary"><span style="margin-left:10px">Trạng thái thiết bị</span></div>

        <div>
            <!-- tabs  -->
            <div class="tabbable ">
                <ul class="nav nav-tabs" style="">
                    <li class="active"><a href="#vds-status" data-toggle="tab" >VDS</a></li>
                    <li><a href="#vms-status" data-toggle="tab">VMS</a></li>
                    <li><a href="#cctv-status" data-toggle="tab">CCTV</a></li>
                </ul>

                <div class="tab-content" style="background-color:#ecf0f5">
                    <!-------------------VDS--------------------->
                    <div class="tab-pane active" id="vds-status" >
                        <table class="table small-table table-striped header-fixed clip-text" style="width:100%">
                            <thead>
                            <tr>
                                <th style="width:50px">ID</th>
                                <th style="width:150px">Vị trí</th>
                                <th style="width:30px">TT</th>
                            </tr>
                            </thead>
                            <tbody style="height:200px;">
                            <tr>
                                <td class="filterable-cell" style="width:50px">VDS001</td>
                                <td class="filterable-cell" style="width:150px">VITRI ABC</td>
                                <td class="filterable-cell bg-green" style="width:30px" title="Bình thường">BTh</td>
                            </tr>
                            <tr>
                                <td class="filterable-cell" style="width:50px">VDS002</td>
                                <td class="filterable-cell" style="width:150px">VITRI XYZ</td>
                                <td class="filterable-cell bg-red" style="width:30px" title="Có lỗi">Lỗi</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                
                    <!-------------------VMS--------------------->
                    <div class="tab-pane" id="vms-status" style="">
                         <table class="table  small-table table-striped header-fixed clip-text" style="width:100%">
                            <thead>
                            <tr>
                                <th style="width:50px">ID</th>
                                <th style="width:150px">Vị trí</th>
                                <th style="width:30px">TT</th>
                            </tr>
                            </thead>
                            <tbody style="height:200px;">
                            <tr>
                                <td class="filterable-cell" style="width:50px">VMS001</td>
                                <td class="filterable-cell" style="width:150px" >VITRI ABC</td>
                                <td class="filterable-cell bg-green" style="width:30px">BTh</td>
                            </tr>
                            <tr>
                                <td class="filterable-cell" style="width:50px">VMS002</td>
                                <td class="filterable-cell" style="width:150px">VITRI XYZ</td>
                                <td class="filterable-cell bg-red" style="width:30px">Lỗi</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-------------------CCTV-------------------->
                    <div class="tab-pane" id="cctv-status" style="">
                         <table class="table small-table table-striped header-fixed clip-text" style="width:100%">
                            <thead>
                            <tr>
                                <th style="width:50px">ID</th>
                                <th style="width:150px">Vị trí</th>
                                <th style="width:30px">TT</th>
                            </tr>
                            </thead>
                            <tbody style="height:200px;">
                            <tr>
                                <td class="filterable-cell" style="width:50px">CCTV001</td>
                                <td class="filterable-cell" style="width:150px">VITRI ABC</td>
                                <td class="filterable-cell bg-green" style="width:30px">BTh</td>
                            </tr>
                            <tr>
                                <td class="filterable-cell" style="width:50px">CCTV002</td>
                                <td class="filterable-cell" style="width:150px">VITRI XYZ</td>
                                <td class="filterable-cell bg-red" style="width:30px">Lỗi</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                
            </div>
            <!-- /tabs -->
        </div>
    </div>
</section>
<!-- /.sidebar -->
</aside>

<script type="text/javascript">
    CHUNOApp.controller('SideBarController', ['$rootScope', '$scope', 'olData', '$controller', '$q', '$timeout',
    function ($rootScope, $scope, olData, $controller, $q, $timeout) {
        var self = this;
        $rootScope.sidebar = self;
    }]);
</script>

