@{
    ViewBag.Title = "Giám sát hệ thống VMS";
}
<!----------------------------------->
<style>
    .containing-table {
        display: table;
    }
    .centre-align {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .child-img{
        max-width:100%;
        max-height:100%;
    }
</style>
<!------------------------------>
<div ng-controller="MonitorVMSController">
<div class="container-fluid">
    <!-- TOP BUTTONS -------------------->
    <div class="row">
        <div class="col-sm-12">
            <h4>Giám sát hệ thống VMS</h4>
        </div>
    </div>

    

    <div class="row">
        <div class="col-md-12">

            <div class="box box-primary box-solid">
                <div class="box-header text-center">
                    <span  class="pull-left">VMS</span>
                    <span >VMS0001</span>
                    <span class="pull-right" style="margin-left:10px">
                        <button class="btn btn-success" ng-click="ShowSubSystem('vms')" >Xem tất cả</button>
                    </span>
                    <span class="pull-right">
                        <button class="btn btn-success" ng-click="ShowSubSystem('vms')" >Hình ảnh</button>
                    </span>
                </div>
                <div class="box-body">
                   <div  class="containing-table" style="width:80%;height:180px;margin:auto">
                       <div class="centre-align" style="">
                          <img src="@Url.Content("~/Content/device/vms/vms-demo1.png")" class="child-img" style="height:100%" />   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary box-solid">
                <div class="box-header text-center">
                    <span  class="pull-left">VMS</span>
                    <span >VMS0001</span>
                    <span class="pull-right" style="margin-left:10px">
                        <button class="btn btn-success" ng-click="ShowSubSystem('vms')" >Xem tất cả</button>
                    </span>
                    <span class="pull-right">
                        <button class="btn btn-success" ng-click="ShowSubSystem('vms')" >Hình ảnh</button>
                    </span>
                </div>
                <div class="box-body">
                   <div  class="containing-table" style="width:80%;height:90px;margin:auto">
                       <div class="centre-align" style="">
                          <img src="@Url.Content("~/Content/device/vms/vms-demo1.png")" class="child-img" style="height:100%" />   
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary box-solid">
                <div class="box-header text-center">
                    <span  class="pull-left">VMS</span>
                    <span >VMS0001</span>
                    <span class="pull-right" style="margin-left:10px">
                        <button class="btn btn-success" ng-click="ShowSubSystem('vms')" >Xem tất cả</button>
                    </span>
                    <span class="pull-right">
                        <button class="btn btn-success" ng-click="ShowSubSystem('vms')" >Hình ảnh</button>
                    </span>
                </div>
                <div class="box-body">
                   <div  class="containing-table" style="width:80%;height:90px;margin:auto">
                       <div class="centre-align" style="">
                          <img src="@Url.Content("~/Content/device/vms/vms-demo1.png")" class="child-img" style="height:100%" />   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
    CHUNOApp.controller('MonitorVMSController', ['$scope', 'NgTableParams', '$controller', '$q', '$timeout',
    function ($scope, NgTableParams, $controller, $q, $timeout) {
        $controller('CommonController', { $scope: $scope });
    }
]);
</script>