@{
    ViewBag.Title = "Giám sát hệ thống VDS";
}

<div ng-controller="MonitorVDSController">
<div class="container-fluid">
    <!-- TOP BUTTONS -------------------->
    <div class="row">
        <div class="col-sm-12">
            <h4>Giám sát hệ thống VDS</h4>
        </div>
    </div>

    <div class="row">

    </div>
</div>
</div>

<script type="text/javascript">
    CHUNOApp.controller('MonitorVDSController', ['$scope', 'NgTableParams', '$controller', '$q', '$timeout',
    function ($scope, NgTableParams, $controller, $q, $timeout) {
        $controller('CommonController', { $scope: $scope });
    }
]);
</script>