@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <div ui-view="containerOne"></div>
    </div>
    <div class="col-md-6">
        <div ui-view="containerTwo"></div>
    </div>
</div>
<div class="row">
    main
    <div ui-view ="containerMain"></div>
</div>


   