@{
    ViewBag.Title = "INDEX";
}

<!-- Default box -->
<div class="box box-body" ng-controller="TempInputsController as ctrl">
    <!-------- year --------------->
    year picker : 
        <input type="text" id="datepicker" class="date-picker-year form-control"
            year-picker
            year-picker-id="datepicker"
            year-start="2010"
            year-end="2020"
            ng-model="ctrl.year" />
    <span>{{ctrl.year}}</span>

    <br />
    <!-------- date input--------------->
    date : <input data-inputmask="'alias': 'date'" class="form-control" />
    <br />

    <!-------- phone --------------->
    phone :  <input class="mask-phone form-control" data-inputmask-regex="(01\d{9})|(09\d{8})" />
    phone 2:  <input class="mask-phone form-control" />
    <br />

    <!-------- email --------------->
    email : <input data-inputmask="'mask': '*{1,20}@@*{1,20}[.*{2,6}][.*{1,2}]'" class="form-control" />
    <br />

    <!---------money --------------->
    currency : {{ctrl.giatri}} <input class="mask-currency form-control" ng-model="ctrl.giatri" />
    <br />

    <!------------number ------------------>
    number : {{ctrl.number}} <input class="form-control" convert-to-number ng-model="ctrl.number"/> 
</div>
<!-- /.box -->

<script type="text/javascript">
    $(document).ready(function () {

    });

</script>

<script type="text/javascript">
    CHUNOApp.controller('TempInputsController', ['$scope', '$filter', '$controller',
    function ($scope, $filter, $controller) {
        this.giatri = 2300.32;
        this.number = 111;
        //append function to this $scope
        $controller('CommonController', { $scope: $scope });


    }
    ]);
</script>