
@{
    ViewBag.Title = chumano;
    Layout = "~/Views/CMS/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/cms/chumano")
    
<script type="text/javascript">
    asd.chumano 
        
        function 0 {
        }
        
        
        function 1 {
        }
        
        
        function 2 {
        }
        
        
        function 3 {
        }
        
</script>
<div ng-controller="chumano_controller" chumano_controller> chumano + "ADSA" </div>


c8ccab5d-a658-47ef-a468-3318ba8566a1